.jm-titre2 {
    width: 60%;
    margin: auto;
}

.jm-citation {
    width: 80%;
    font-style: italic;
    margin: auto;
}

.jm-lien {
    margin: 2rem auto 1rem;
    text-align: center;
}

.jm-footer-list {
    column-count: 3;
}

.jm-c-prim {
    color: #C72D00FF!important;
}

.jm-c-dgray {
    color: #545454FF!important;
}

.jm-c-white {
    color: white!important;
}

.jm-bg-prim {
    background-color: #C72D00FF;
}

.jm-bg-white {
    background-color: rgba(255, 255, 255, 0.85);
}

.jm-bg-none {
    background: none;
}

.jm-pad-20 {
    padding: 20px;
}

.jm-mw-600 {
    max-width: 600px;
    margin: auto;
}

.jm-pos-rel {
    position: relative;
}

.nav a {
    color: #545454FF!important;
}

ul.jm-footer-list li, a {
    color: white!important;
}

@media (max-width: 767px) {
    .jm-footer-list {
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .jm-footer-list {
        column-count: 1;
    }
}